<!doctype html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <title>DCS Discover</title>
  </head>
  <body>

    <div>
      <div class="bg-primary p-3">
      <nav class="navbar navbar-expand-lg bg-primary navbar-dark text-white">
        <div class="container">
          <a class="navbar-brand text-light" href="../../materials/">DCS Discover</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-light" href="/about">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-light" href="https://moule.ech.ucdavis.edu/">Moulė Lab<span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action={% url 'search_results' %} method="GET">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="h1 text-light">Welcome to DCS Discover</div>
        <div class="h3 text-light">This database contains Inelastic Neutron Scattering (INS) spectra calculated by the Moulė group at UC Davis as well as 
          experimental INS data taken at the VISION spectrometer at Oak Ridge National Lab. <a class="text-secondary" 
          href="mailto: madettmann@ucdavis.edu">Contact us</a> with any questions or technical difficulties.
          <br>
        </div>
      </div>
    </div>
    
    
      {%block content%}
          
      {%endblock%}
      <footer class="container p-3">
        <div>
          <p class="text-center">Cite As: Dettmann, M.A.; Vong, D.; Cavalcante, L.S.R.; Magdaleno, C.; Masalkovaitė, K.; Harrelson, T.F.; Daemen, L.L.; Moulė, A.J. (2021) CNS Discover. <a href="https://ins-dashboard.uc.r.appspot.com">https://ins-dashboard.uc.r.appspot.com</a>

            <a href="https://zenodo.org/badge/latestdoi/339552091"><img src="https://zenodo.org/badge/339552091.svg" alt="DOI"></a>
            
          </p>
          <p class="text-center">
            © 2021
          </p>
        </div>
      </footer>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>