{% extends "base.html" %}

{% block content %}
    {% load static %}
    <style>
        [class*="col-"] {
        margin-top: 25px;
        }
    </style>
    <div class="container">
        <div class="row align-items-stretch">
                {% for item in materials_list %}
                    <div class="col-md-3">
                        <div class="card text-center h-100">
                            <img class="card-img-top img-thumbnail" src={% static item.skeletal_formula_file %} alt="No Structure">
                            <div class="card-body bg-secondary">
                                <div class="card-title text-dark">{{item.compound_name}}</div>
                                <div class="card-text text-truncate text-dark"><b>Alt. Name: </b>{{item.iupac_name}}</div>
                                <br>
                                <a href=/materials/{{item.id}} class="btn btn-dark text-light">More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}